body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .header-fixed {
      background-color:#292c2f;
      box-shadow:0 1px 1px #ccc;
      padding: 40px 50px;
      height: 100px;
      color: #ffffff;
      box-sizing: border-box;
      top:-100px;
  
      -webkit-transition:top 0.3s;
      transition:top 0.3s;
  }
  
  .header-fixed .header-limiter {
      max-width: 1200px;
      text-align: center;
      margin: 0 auto;
  }
  
  /*	The header placeholder. It is displayed when the header is fixed to the top of the
      browser window, in order to prevent the content of the page from jumping up. */
  
  .header-fixed-placeholder{
      height: 80px;
      display: none;
  }
  
  /* Logo */
  
  .header-fixed .header-limiter h1 {
      float: left;
      font: normal 28px Cookie, Arial, Helvetica, sans-serif;
      line-height: 40px;
      margin: 0;
  }
  
  .header-fixed .header-limiter h1 span {
      color: #5383d3;
  }
  
  /* The navigation links */
  
  .header-fixed .header-limiter a {
      color: #ffffff;
      text-decoration: none;
  }
  
  .header-fixed .header-limiter nav {
      font:16px Arial, Helvetica, sans-serif;
      line-height: 40px;
      float: right;
  }
  
  .header-fixed .header-limiter nav a{
      display: inline-block;
      padding: 0 5px;
      text-decoration:none;
      color: #ffffff;
      opacity: 0.9;
  }
  
  .header-fixed .header-limiter nav a:hover{
      opacity: 1;
  }
  
  .header-fixed .header-limiter nav a.selected {
      color: #608bd2;
      pointer-events: none;
      opacity: 1;
  }
  
  /* Fixed version of the header */
  
  body.fixed .header-fixed {
      padding: 10px 40px;
      height: 50px;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
  }
  
  body.fixed .header-fixed-placeholder {
      display: block;
  }
  
  body.fixed .header-fixed .header-limiter h1 {
      font-size: 24px;
      line-height: 30px;
  }
  
  body.fixed .header-fixed .header-limiter nav {
      line-height: 28px;
      font-size: 13px;
  }
  
  
  /* Making the header responsive */
  
  @media all and (max-width: 600px) {
  
      .header-fixed {
          padding: 10px 0;
          height: 75px;
      }
  
      .header-fixed .header-limiter h1 {
          float: none;
          margin: -8px 0 10px;
          text-align: center;
          font-size: 25px;
          line-height: 1;
      }
  
      .header-fixed .header-limiter nav {
          line-height: 1;
          float:none;
      }
  
      .header-fixed .header-limiter nav a {
          font-size: 13px;
      }
  
      body.fixed .header-fixed {
          display: none;
      }
  
  }
  
  /*
       We are clearing the body's margin and padding, so that the header fits properly.
       We are also adding a height to demonstrate the scrolling behavior. You can remove
       these styles.
   */
  
  body {
      margin: 0;
      padding: 0;
      height: 1500px;
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  /*Galeria*/

  body {
    box-sizing: border-box;
    background-color: #d4d3d3;
    color: #555;
  }
  
  .contenedor {
    max-width: 860px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: #ffff;
    border-radius: 0.5em;
  }
  
  header > h1 {
    margin-top: 0;
    font-size: 2.5rem;
    border-bottom: 1px solid #eee;
  }
  
  .gallery {
    display: grid;
    margin: 3em 0;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 1em;
    grid-auto-flow: dense;
  }
  
  figure {
    margin-left: 20px;
    display: flex;
  }
  
  img {
    flex: 1;
    max-width: 70%;
    object-fit: cover;
  }

  /*Footer*/

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  margin-left: 10%;
  max-width: 1170px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #0277A1;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

  .footer-col {
    color: white;
  }

  label {
    margin-bottom: 5px;
  }

  input {
    border-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
    width: 200px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #0277A1;
    color: white;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #0277A1;
  }


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



