
 
 .header-fixed {
     background-color:#292c2f;
     box-shadow:0 1px 1px #ccc;
     padding: 20px 40px;
     height: 80px;
     color: #ffffff;
     box-sizing: border-box;
     top:-100px;
 
     -webkit-transition:top 0.3s;
     transition:top 0.3s;
 }
 
 .header-fixed .header-limiter {
     max-width: 1200px;
     text-align: center;
     margin: 0 auto;
 }
 
 /*	The header placeholder. It is displayed when the header is fixed to the top of the
     browser window, in order to prevent the content of the page from jumping up. */
 
 .header-fixed-placeholder{
     height: 80px;
     display: none;
 }
 
 /* Logo */
 
 .header-fixed .header-limiter h1 {
     float: left;
     font: normal 28px Cookie, Arial, Helvetica, sans-serif;
     line-height: 40px;
     margin: 0;
 }
 
 .header-fixed .header-limiter h1 span {
     color: #5383d3;
 }
 
 /* The navigation links */
 
 .header-fixed .header-limiter a {
     color: #ffffff;
     text-decoration: none;
 }
 
 .header-fixed .header-limiter nav {
     font:16px Arial, Helvetica, sans-serif;
     line-height: 40px;
     float: right;
 }
 
 .header-fixed .header-limiter nav a{
     display: inline-block;
     padding: 0 5px;
     text-decoration:none;
     color: #ffffff;
     opacity: 0.9;
 }
 
 .header-fixed .header-limiter nav a:hover{
     opacity: 1;
 }
 
 .header-fixed .header-limiter nav a.selected {
     color: #608bd2;
     pointer-events: none;
     opacity: 1;
 }
 
 /* Fixed version of the header */
 
 body.fixed .header-fixed {
     padding: 10px 40px;
     height: 50px;
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 1;
 }
 
 body.fixed .header-fixed-placeholder {
     display: block;
 }
 
 body.fixed .header-fixed .header-limiter h1 {
     font-size: 24px;
     line-height: 30px;
 }
 
 body.fixed .header-fixed .header-limiter nav {
     line-height: 28px;
     font-size: 13px;
 }
 
 
 /* Making the header responsive */
 
 @media all and (max-width: 600px) {
 
     .header-fixed {
         padding: 20px 0;
         height: 75px;
     }
 
     .header-fixed .header-limiter h1 {
         float: none;
         margin: -8px 0 10px;
         text-align: center;
         font-size: 24px;
         line-height: 1;
     }
 
     .header-fixed .header-limiter nav {
         line-height: 1;
         float:none;
     }
 
     .header-fixed .header-limiter nav a {
         font-size: 13px;
     }
 
     body.fixed .header-fixed {
         display: none;
     }
 
 }
 
 /*
      We are clearing the body's margin and padding, so that the header fits properly.
      We are also adding a height to demonstrate the scrolling behavior. You can remove
      these styles.
  */
 
 body {
     margin: 0;
     padding: 0;
     height: 1500px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 a {
   color: #000;
 }
 
 /* header */
 
 .header {
   background-color: #fff;
   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
   position: fixed;
   width: 100%;
   z-index: 3;
 }
 
 .header ul {
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   background-color: #fff;
 }
 
 .header li a {
   display: block;
   padding: 20px 20px;
   border-right: 1px solid #f4f4f4;
   text-decoration: none;
 }
 
 .header li a:hover,
 .header .menu-btn:hover {
   background-color: #f4f4f4;
 }
 
 .header .logo {
   display: block;
   float: left;
   font-size: 2em;
   padding: 10px 20px;
   text-decoration: none;
 }
 
 /* menu */
 
 .header .menu {
   clear: both;
   max-height: 0;
   transition: max-height .2s ease-out;
 }
 
 /* menu icon */
 
 .header .menu-icon {
   cursor: pointer;
   display: inline-block;
   float: right;
   padding: 28px 20px;
   position: relative;
   user-select: none;
 }
 
 .header .menu-icon .navicon {
   background: #333;
   display: block;
   height: 2px;
   position: relative;
   transition: background .2s ease-out;
   width: 18px;
 }
 
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
   background: #333;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
 }
 
 .header .menu-icon .navicon:before {
   top: 5px;
 }
 
 .header .menu-icon .navicon:after {
   top: -5px;
 }
 
 /* menu btn */
 
 .header .menu-btn {
   display: none;
 }
 
 .header .menu-btn:checked ~ .menu {
   max-height: 240px;
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon {
   background: transparent;
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon:before {
   transform: rotate(-45deg);
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon:after {
   transform: rotate(45deg);
 }
 
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
   top: 0;
 }

/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */
@media (min-width: 1000px) {
  #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
 }
  #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #f7f7f7;
 }
}
/* Some Cool Stuff */
.demo-card:nth-child(1) {
  order: 1;
}
.demo-card:nth-child(2) {
  order: 4;
}
.demo-card:nth-child(3) {
  order: 2;
}
.demo-card:nth-child(4) {
  order: 5;
}
.demo-card:nth-child(5) {
  order: 3;
}
.demo-card:nth-child(6) {
  order: 6;
}
/* Border Box */
* {
  box-sizing: border-box;
}
/* Fonts */

#timeline {
  padding: 100px 0;
  background: #f7f7f7;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}
#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
#timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 1650px;
    margin: 0 auto;
 }
}
#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
 }
}
#timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  #timeline .demo-card {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
 }
}
@media (min-width: 720px) {
  #timeline .demo-card {
    max-width: 40%;
 }
}
@media (min-width: 1000px) {
  #timeline .demo-card {
    max-width: 450px;
    height: 400px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
 }
  #timeline .demo-card:nth-child(odd) {
    margin-right: 45px;
 }
  #timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
 }
  #timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
 }
  #timeline .demo-card:nth-child(even) {
    margin-left: 45px;
 }
  #timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
 }
  #timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px;
 }
  #timeline .demo-card:nth-child(2) {
    margin-top: 180px;
 }
}
#timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
#timeline .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 {
    font-size: 165%;
    line-height: 1.2rem;
 }
}
#timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 span {
    font-size: 0.8rem;
 }
}
#timeline .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
}
@media (min-width: 1000px) {
  #timeline .demo-card .body {
    height: 315px;
 }
}
#timeline .demo-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}
#timeline .demo-card .body img {
  display: block;
  width: 100%;
}
#timeline .demo-card--step1 {
  background-color: #4d92eb;
}
#timeline .demo-card--step1 .head::after {
  border-color: #4d92eb;
}
#timeline .demo-card--step2 {
  background-color: #4d92eb;
}
#timeline .demo-card--step2 .head::after {
  border-color: #4d92eb;
}
#timeline .demo-card--step3 {
  background-color: #4d92eb;
}
#timeline .demo-card--step3 .head::after {
  border-color: #4d92eb;
}
#timeline .demo-card--step4 {
  background-color: #4d92eb;
}
#timeline .demo-card--step4 .head::after {
  border-color: #4d92eb;
}
#timeline .demo-card--step5 {
  background-color: #46b8e9;
}
#timeline .demo-card--step5 .head::after {
  border-color: #46b8e9;
}

 
 /* 48em = 768px */
 
 @media (min-width: 48em) {
   .header li {
     float: left;
   }
   .header li a {
     padding: 20px 30px;
   }
   .header .menu {
     clear: none;
     float: right;
     max-height: none;
   }
   .header .menu-icon {
     display: none;
   }
 }

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  margin-left: 10%;
  max-width: 1170px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #0277A1;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

  .footer-col {
    color: white;
  }

  label {
    margin-bottom: 5px;
  }

  input {
    border-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
    width: 200px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #0277A1;
    color: white;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #0277A1;
  }


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



